/* css file for index.html */

.TimerButtons{
  width: 52.5px;
  height: 52.5px;
  background-color: #707070;
  border: #707070;
  position: absolute;
  border-radius: 2px;
  cursor: pointer;
}

/* Start timer design credit: https://www.w3schools.com/howto/howto_css_shapes.asp & https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_shapes_triangle-right */
.StartDesign{
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-left: 25px solid #FFFF;
  border-bottom: 15px solid transparent;
  margin-left: 8px;
  border-radius: 2px;
  cursor: pointer;
}

.PauseDesign1{
  width: 7px;
  height: 37px;
  background-color: white;
  border-radius: 2px;
  cursor: pointer;
}

.PauseDesign2{
  width: 7px;
  height: 37px;
  background-color: white;
  border-radius: 2px;
  cursor: pointer;
}

.ResetDesign{
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.SetTime{
  width: 495.5px;
  height: 102px;
  background-color: white;
  position: absolute;
  border: white;
  border-radius: 2px;
  cursor: pointer;
}

.Timer{
  font-size: 60px;
  color: #707070;
  border: none;
}

.TimePopUp{
  visibility: hidden;
  width: 498.5px;
  height: 105px;
  background-color: #707070;
  position: absolute;
  border: #707070;
}

.Instructions{
  color: white;
  border: none;
}

.DisplayTime{
  position: absolute;
  visibility: hidden;
  margin-left: 1500px; 
  margin-top: 175px;
  font-size: 50px;
  color: #707070
}

/* To Do */ 
/* credit for making the list scrollable: https://css-tricks.com/almanac/properties/o/overflow/ */
.ToDo{
  height: 343px;
  width: 1197px;
  position: absolute;
  background-color: white;
  border-color: #707070;
  border-style: solid;
  border-radius: 2px;
  margin-top: 579px;
  margin-left: 688px;
  overflow: scroll;
}

.AddTaskButton{
  width: 35px;
  height: 35px;
  margin-top: 542px;
  margin-left: 1690px;
  border-width: 2px;;
  position: absolute;
  background-color: white;
  border-style: solid;
  border-color: #707070;
  border-radius: 2px;
  cursor: pointer;
}

.AddTaskDesign1{
  width: 3px;
  height: 20px;
  position: absolute;
  margin-top: -9px;
  margin-left: 8px;
  background-color: #707070;
  border-radius: 2px;
  cursor: pointer;
}

.AddTaskDesign2{
  width: 20px;
  height: 3px;
  position: absolute;
  margin-top: -1px;
  margin-left: -1px;
  background-color: #707070;
  border-radius: 2px;
  cursor: pointer;
}

.NewToDo{
  width: 975px;
  height: 540px;
  position: absolute;
  background-color: #707070;
  margin-top: 435px;
  margin-left: 711px;
  border-radius: 2px;
  visibility: hidden;
  z-index: 30;
}

.Title{
  color: white;
  margin-top: 5px;
  margin-left: 30px;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
}

.InputTitle{
  height: 52px;
  width: 906px;
  margin-top: -20px;
  margin-left: 30px;
  font-size: 30px;
}

.DetailsTitle{
  color: white;
  margin-top: 5px;
  margin-left: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.Details{
  resize: none;
  background-color: white;
  width: 908px;
  height: 313px;
  margin-left: 30px;
  margin-top: -20px;
  font-size: 20px;
  border: none;
}

.SubmitTaskButton{
  height: 45px;
  width: 128px;
  margin-left: 812px;
  margin-top: 10px;
  border-style: solid;
  border-color: white;
  background-color: #707070;
  border-radius: 2px;
  cursor: pointer;
}

.SubmitDesign{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 7px;
  cursor: pointer;
}

.ClearAllButton{
  position: absolute;
  background-color: #707070;
  border-radius: 2px;
  border-color: #707070;
  border-style: solid;
  height: 35px;
  width: 150px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  margin-top: 542px;
  margin-left: 1735px;
  cursor: pointer;
}

.AppTime{
  position: absolute;
  height: 392px;
  width: 637px;
  margin-top: 110px;
  margin-left: 30px;
  background-color: white;
  border-radius: 2px;
  border-style: solid;
  border-color: #707070;
  overflow: scroll;
}

.AddProgramButton{
  position: absolute;
  margin-top: 5px;
  margin-left: 5px;
  height: 30px;
  width: 180px;
  background-color: #707070;
  border: none;
  border-radius: 2px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  cursor: pointer;
  visibility: visible;
}

.ProgramPopUp{
  position: absolute;
  background-color: #707070;
  width: 500px;
  height: 250px;
  z-index: 30;
  border-radius: 2px;
  visibility: hidden;
}

.ProgramName{
  position: absolute;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 5px;
}

.Program{
  position: absolute;
  height: 50px;
  width: 450px;
  margin-left: 20px;
  margin-top: 90px;
  font-size: 30px;
}

.SubmitProgramButton{
  position: absolute;
  margin-top: 200px;
  margin-left: 365px;
  height: 45px;
  width: 128px;
  font-size: 20px;
  border-style: solid;
  background-color: #707070;
  border-radius: 2px;
  border-color: white;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.EndProgramButton{
  position: absolute;
  margin-top: 5px;
  margin-left: 5px;
  height: 30px;
  width: 180px;
  background-color: #707070;
  border: none;
  border-radius: 2px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  cursor: pointer;
  visibility: hidden;
}

.TimeDivision{
  position: absolute;
  height: 392px;
  width: 637px;
  margin-top: 110px;
  margin-left: 688px;
  border-style: solid;
  border-color: #707070;
  border-radius: 2px;
  background-color: white;
  overflow: scroll
}

.First{
  position: absolute;
  font-size: 35px;
  color: #707070;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 600px;
  margin-left: 80px;
}

.Second{
  position: absolute;
  font-size: 35px;
  color: #707070;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 655px;
  margin-left: 80px;
}

.Third{
  position: absolute;
  font-size: 35px;
  color: #707070;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 710px;
  margin-left: 80px;
}

.WorkTime{
  position: absolute;
  background-color: #707070;
  width: 500px;
  height: 250px;
  z-index: 30;
  border-radius: 2px;
  visibility: hidden;
}

.Time{
  position: absolute;
  height: 50px;
  width: 450px;
  margin-left: 20px;
  margin-top: 90px;
  font-size: 30px;
}

.SubmitWorkTimeButton{
  position: absolute;
  margin-top: 200px;
  margin-left: 365px;
  height: 45px;
  width: 128px;
  font-size: 20px;
  border-style: solid;
  background-color: #707070;
  border-radius: 2px;
  border-color: white;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.WorkInstructions{
  color: white;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 5px;
}

.Error{
  color: red;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 5px;
  margin-top: 150px;
  visibility: hidden;
}

.GraphTitle1{
  color: #707070;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 220px;
  font-size: 25px;
  margin-top: 10px;
}

.GraphTitle2{
  color: #707070;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 170px;
  font-size: 25px;
  margin-top: 10px;
}